<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">RomeroNews</a>


  <div class="navbar-collapse container" id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </div>
  </div>

  <div class="dropdown dropleft">
    <button class="btn btn-secondary dropdown-toggle " type="button"
            data-toggle="dropdown">
      Perfil
    </button>
    <div class="dropdown-menu" role="menu">
      <a class="dropdown-item" href="#">Mi Perfil</a>
      <a class="dropdown-item" href="#">Iniciar Sesion</a>
      <a class="dropdown-item" href="#">Cerrar Sesion</a>
    </div>
  </div>
</nav>
